@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.col-xs-12 {
	width: 95%;
	height: 1000px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,82,1) 100%, rgba(0,212,255,1) 100%);
	margin: 2%;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: white;
}

.beef {
	background-image: linear-gradient(to right bottom, #566985, #39758a, #2c7f7d, #498465, #73854c);
}

.sushi {
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
}


.row {

}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.navbar {
	background-color: black;
	color: white;
}

@media screen and (min-width: 768px) {
  .navbar-right {
    display: none;
  }
}

.navbar-nav {
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
	text-align: center;
}

.dropdown li a {
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.items {
	font-size: 15px;
	font-weight: bold;
	color: white;
}